force-app/main/default/flows/Count_Red_Containers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Count_Red_Containers</name>
        <label>Count Red Containers and TEUs</label>
        <locationX>174</locationX>
        <locationY>738</locationY>
        <assignmentItems>
            <assignToReference>var_TotalRedContainers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CheckIFRed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TotalTEUs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CalcConsTEUs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Containers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Voyage_Id</name>
        <label>Get Voyage Id</label>
        <locationX>176</locationX>
        <locationY>292</locationY>
        <assignmentItems>
            <assignToReference>var_VoyageId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Voyage__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Consignments</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>CalcConsTEUs</name>
        <dataType>Number</dataType>
        <expression>IF( ISPICKVAL( {!Select_Containers.Container__r.Container_Type__c} , &quot;20 DV&quot;) , 1, 2)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CheckIFRed</name>
        <dataType>Number</dataType>
        <expression>IF( ISPICKVAL( {!Select_Containers.Container__r.Color__c} , &quot;RED&quot;) , 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Count Red Containers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Count Red Containers</label>
    <loops>
        <name>Select_Containers</name>
        <label>Select Containers</label>
        <locationX>173</locationX>
        <locationY>572</locationY>
        <collectionReference>Get_Consignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Red_Containers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Voyage_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Consignments</name>
        <label>Get Consignments</label>
        <locationX>172</locationX>
        <locationY>432</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Containers</targetReference>
        </connector>
        <filters>
            <field>Voyage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Voyage__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Consignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Voyage_Record</name>
        <label>Update Voyage Record</label>
        <locationX>409</locationX>
        <locationY>573</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_VoyageId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Red_Containers_Shiped__c</field>
            <value>
                <elementReference>var_TotalRedContainers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TEUs_Loaded__c</field>
            <value>
                <elementReference>var_TotalTEUs</elementReference>
            </value>
        </inputAssignments>
        <object>Voyage__c</object>
    </recordUpdates>
    <start>
        <locationX>54</locationX>
        <locationY>43</locationY>
        <connector>
            <targetReference>Get_Voyage_Id</targetReference>
        </connector>
        <object>Consignment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_TotalRedContainers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_TotalTEUs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_VoyageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
