force-app/main/default/flows/Recalc_Containers_and_Voyages_on_Ship_upon_Voyage_delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Get_Ship_Id</name>
        <label>Get Ship and Voyage Id</label>
        <locationX>526</locationX>
        <locationY>117</locationY>
        <assignmentItems>
            <assignToReference>var_ShipId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Ship__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_VoyageId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Voyages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Voyages_Count</name>
        <label>Total Voyages and Containers Count</label>
        <locationX>392</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>var_TotalVoyages</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Voyages</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TotalContainers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Voyages.Total_Consignments_Shipped__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TotalRedContainers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_Voyages.Red_Containers_Shiped__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Voyages</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Recalc Containers and Voyages on Ship upon Voyage delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recalc Containers and Voyages on Ship upon Voyage delete</label>
    <loops>
        <name>Count_Voyages</name>
        <label>Count Voyages</label>
        <locationX>713</locationX>
        <locationY>296</locationY>
        <collectionReference>Get_Voyages</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Voyages_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Ship_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Voyages</name>
        <label>Get Voyages</label>
        <locationX>708</locationX>
        <locationY>124</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Voyages</targetReference>
        </connector>
        <filters>
            <field>Ship__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ship__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>var_VoyageId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Voyage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Ship_Record</name>
        <label>Update Ship Record</label>
        <locationX>715</locationX>
        <locationY>497</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ShipId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Containers_Carried__c</field>
            <value>
                <elementReference>var_TotalContainers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Red_Containers_Carried__c</field>
            <value>
                <elementReference>var_TotalRedContainers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Voyages_Performed__c</field>
            <value>
                <elementReference>var_TotalVoyages</elementReference>
            </value>
        </inputAssignments>
        <object>Ship__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Ship_Id</targetReference>
        </connector>
        <object>Voyage__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_ShipId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TotalContainers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_TotalRedContainers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_TotalVoyages</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_VoyageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
