force-app/main/default/flows/Set_Container_Need_Inspection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_For_Inspection</name>
        <label>Submit For Inspection</label>
        <locationX>560</locationX>
        <locationY>479</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>var_ContId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Container_No_of_Voyages</name>
        <label>Container No of Voyages</label>
        <locationX>175</locationX>
        <locationY>329</locationY>
        <assignmentItems>
            <assignToReference>var_ContVoyages</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Container__r.TotalVoyages__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Container__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_Need_Inspection</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>const_InspectionLoop</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Do_Need_Inspection</name>
        <label>Do Need Inspection?</label>
        <locationX>170</locationX>
        <locationY>479</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inspection_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalcVoyAfterInsp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cont_Status</targetReference>
            </connector>
            <label>Inspection Required?</label>
        </rules>
    </decisions>
    <formulas>
        <name>CalcVoyAfterInsp</name>
        <dataType>Number</dataType>
        <expression>MOD(({!var_ContVoyages} + 1), {!const_InspectionLoop})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Set Container Need Inspection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Container Need Inspection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Cont_Status</name>
        <label>Update Cont Status</label>
        <locationX>412</locationX>
        <locationY>479</locationY>
        <connector>
            <targetReference>Submit_For_Inspection</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ContId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Need Inspection</stringValue>
            </value>
        </inputAssignments>
        <object>Container__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Container_No_of_Voyages</targetReference>
        </connector>
        <object>Consignment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>var_ContId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ContVoyages</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
